<div class="dx-col-12">
    <div class="dx-px-2 dx-py-4 dx-border-b dx-border-gray-30 sm:dx-flex">
        <div class="dx-col-12 dx-flex dx-items-center sm:dx-col-9 lg:dx-col-10">
            <div class="dx-row dx-pt-0 dx-block dx-w-full lg:dx-flex">
                <div class="dx-col-12 dx-mb-1 dx-px-2 lg:dx-col-6 lg:dx-mb-0 lg:dx-flex lg:dx-items-center">
                    <p>Session title</p>
                </div>

                <div class="dx-col-12 dx-mb-1 dx-px-2 lg:dx-col-4 lg:dx-mb-0 lg:dx-flex lg:dx-items-center">
                    <p class="dx-text-14 lg:dx-text-18">Date and time</p>
                </div>

                <div class="dx-col-12 dx-px-2 lg:dx-col-2 lg:dx-flex lg:dx-items-center">
                    <p class="dx-px-1 dx-bg-yellow-10 dx-text-14 dx-inline-block dx-text-yellow-70 dx-border dx-border-orange-30 dx-rounded-pill">Status</p>
                </div>
            </div>
        </div>

        <div class="dx-col-12 dx-mt-3 dx-flex dx-items-center sm:dx-col-3 sm:dx-mt-0 lg:dx-col-2">
            <a href="#">Session link</a>
        </div>
    </div>

    <div class="dx-px-2 dx-py-4 dx-bg-gray-10 dx-border-b dx-border-gray-30 sm:dx-flex lg:dx-bg-white">
        <div class="dx-col-12 dx-flex dx-items-center sm:dx-col-9 lg:dx-col-10">
            <div class="dx-row dx-pt-0 dx-block dx-w-full lg:dx-flex">
                <div class="dx-col-12 dx-mb-1 dx-px-2 lg:dx-col-6 lg:dx-mb-0 lg:dx-flex lg:dx-items-center">
                    <p>Session title</p>
                </div>

                <div class="dx-col-12 dx-mb-1 dx-px-2 lg:dx-col-4 lg:dx-mb-0 lg:dx-flex lg:dx-items-center">
                    <p class="dx-text-14 lg:dx-text-18">Date and time</p>
                </div>

                <div class="dx-col-12 dx-px-2 lg:dx-col-2 lg:dx-flex lg:dx-items-center">
                    <p class="dx-px-1 dx-bg-yellow-10 dx-text-14 dx-inline-block dx-text-yellow-70 dx-border dx-border-orange-30 dx-rounded-pill">Status</p>
                </div>
            </div>
        </div>

        <div class="dx-col-12 dx-mt-3 dx-flex dx-items-center sm:dx-col-3 sm:dx-mt-0 lg:dx-col-2">
            <a href="#">Session link</a>
        </div>
    </div>

    <div class="dx-px-2 dx-py-4 dx-border-b dx-border-gray-30 sm:dx-flex">
        <div class="dx-col-12 dx-flex dx-items-center sm:dx-col-9 lg:dx-col-10">
            <div class="dx-row dx-pt-0 dx-block dx-w-full lg:dx-flex">
                <div class="dx-col-12 dx-mb-1 dx-px-2 lg:dx-col-6 lg:dx-mb-0 lg:dx-flex lg:dx-items-center">
                    <p>Session title</p>
                </div>

                <div class="dx-col-12 dx-mb-1 dx-px-2 lg:dx-col-4 lg:dx-mb-0 lg:dx-flex lg:dx-items-center">
                    <p class="dx-text-14 lg:dx-text-18">Date and time</p>
                </div>

                <div class="dx-col-12 dx-px-2 lg:dx-col-2 lg:dx-flex lg:dx-items-center">
                    <p class="dx-px-1 dx-bg-yellow-10 dx-text-14 dx-inline-block dx-text-yellow-70 dx-border dx-border-orange-30 dx-rounded-pill">Status</p>
                </div>
            </div>
        </div>

        <div class="dx-col-12 dx-mt-3 dx-flex dx-items-center sm:dx-col-3 sm:dx-mt-0 lg:dx-col-2">
            <a href="#">Session link</a>
        </div>
    </div>

    <div class="dx-px-2 dx-py-4 dx-bg-gray-10 dx-border-b dx-border-gray-30 sm:dx-flex lg:dx-bg-white">
        <div class="dx-col-12 dx-flex dx-items-center sm:dx-col-9 lg:dx-col-10">
            <div class="dx-row dx-pt-0 dx-block dx-w-full lg:dx-flex">
                <div class="dx-col-12 dx-mb-1 dx-px-2 lg:dx-col-6 lg:dx-mb-0 lg:dx-flex lg:dx-items-center">
                    <p>Session title</p>
                </div>

                <div class="dx-col-12 dx-mb-1 dx-px-2 lg:dx-col-4 lg:dx-mb-0 lg:dx-flex lg:dx-items-center">
                    <p class="dx-text-14 lg:dx-text-18">Date and time</p>
                </div>

                <div class="dx-col-12 dx-px-2 lg:dx-col-2 lg:dx-flex lg:dx-items-center">
                    <p class="dx-px-1 dx-bg-yellow-10 dx-text-14 dx-inline-block dx-text-yellow-70 dx-border dx-border-orange-30 dx-rounded-pill">Status</p>
                </div>
            </div>
        </div>

        <div class="dx-col-12 dx-mt-3 dx-flex dx-items-center sm:dx-col-3 sm:dx-mt-0 lg:dx-col-2">
            <a href="#">Session link</a>
        </div>
    </div>
</div>
