<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>

<div class="dx-col-12 dx-flex sm:dx-col-6 md:dx-col-4 lg:dx-col-3 xl:dx-col-2 2xl:dx-col-1"></div>
